<!--[if lt IE 9]>
	script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
	script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
<![endif]-->
script(src="libs/jquery.js")
script(src="libs/slick.min.js")
script(src="libs/jquery.pixlayout.js")
script(src="libs/svg4everybody.js") 
script(src="js/scripts.min.js")