DOCTYPE
html(lang="ru")
	head
		include pug/template/head.pug
	body
		div.wrapper
			header.header
				include pug/template/header.pug
			section.slider__top
				include pug/frontpage/slider.pug
			section.main__bg
				include pug/frontpage/main_img.pug
			section.main
				include pug/frontpage/content.pug
			div.empty
		include pug/template/footer.pug
		include pug/template/footer_js.pug
	
		